<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-SocketIO with Bootstrap</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Flask-SocketIO with Bootstrap</h1>
        <div class="card mt-5">
            <div class="card-body">
                <p id="message" class="card-text">Connecting to the server...</p>
                <input type="text" id="userInput" class="form-control mb-3" placeholder="Type a message">
                <button id="sendBtn" class="btn btn-primary">Send Message</button>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Messages:</h2>
                        <ul class="list-group list-group-flush" id="messages">
                            <!-- Messages will be displayed here -->
                             <!-- <li class="list-group-item"><p class="d-inline">address: </p>test</li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 for="basic-url" class="card-title">Your server URL</h3>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">https://</span>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                            <span class="input-group-text" id="basic-addon3">:5000</span>
                        </div>
                        <button class="btn btn-primary">Set URL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/socket.io.min.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>